* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family:  'Poppins', sans-serif;
}
.main{
    height: 100vh;
    width:100vw;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-field{
    height: 50%;
    width: 50%;
    background-color: red;
    display: flex;
    flex-direction: column;
}
.row{
    background-color: blue;
    width: 100%;
    
    flex-grow: 1;
}