h1,h2{
    text-align: center;
}
#game{
    height: 600px;
    width: 600px;
    margin: auto;
    position: relative;
    border: 1px solid black;
}

div.card{
    background-color: green;
    border: 1px solid black;
    height: 200px;
    width: 200px;
}

#game div.card {
    position: absolute;
    top: 0;
    left: 0;
}
#game div.card+div.card {
    position: absolute;
    top:0;
    left: 200px;
}
#game div.card+div.card+div.card {
    position: absolute;
    top:0;
    left: 400px;
}
#game div.card+div.card+div.card+div.card{
    position: absolute;
    top:200px;
    left:0;
}
#game div.card+div.card+div.card+div.card+div.card {
    position: absolute;
    top: 200px;
    left: 200px;
}
#game div.card+div.card+div.card+div.card+div.card+div.card {
    position: absolute;
    top: 200px;
    left: 400px;
}
#game div.card+div.card+div.card+div.card+div.card+div.card+div.card {
    position: absolute;
    left:0;
    top: 400px;
}
#game div.card+div.card+div.card+div.card+div.card+div.card+div.card+div.card {
    position: absolute;
    left: 200px;
    top: 400px;
}
#game div.card+div.card+div.card+div.card+div.card+div.card+div.card+div.card+div.card {
    position: absolute;
    left: 400px;
    top: 400px;
}
.squirl{
    background-image: url(./images/squirl.jpg);
}
.lion {
    background-image: url(./images/lion.jpg);
}
.dog {
    background-image: url(./images/dog.jpg);
}
.eagle{
    background-image: url(./images/eagle.jpg);
}
.bomb {
    background-image: url(./images/bomb.jpg);
}